# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# PyQt5 related files
*.pyqt5
*.qrc
*.qml

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
